*.ipynb_checkpoints
.DS_Store
data/training_data/train_val_origin
data/training_data/embeddings
data/prediction_data/
GB_saved_predictions
logs
model_metrics
prediction_code/*.xlsx
prediction_code/predictionForBAHD.ipynb
saved_model/【BAHD正负】BAHD_T1_ESP_xgb
saved_model/【BAHD正负和T1负】BAHD_T1_ESP_xgb
saved_model/【BAHD正和T1正负】BAHD_T1_ESP_xgb
saved_model/【效果好】BAHD_T1_ESP_1gpus_bs72_1e-05_layers6.txt.pkl
BAHD_ProSmith.ipynb

pretrained_model
saved_model/BAHD_ESP_1gpus_bs72_1e-05_layers6.txt.pkl